@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  justify-content: center;
}

header{
  text-align: center;
}

header img {
  width: 150px;
}

main{
  display: flex;
  flex-flow: column;
  padding: 50px;
  max-width: 900px;
}

.artigo img{
  width: 30px;
}

footer img{
  width: 70px;
  height: 100px;
  border-radius: 6em;
  margin-right: 30px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(197, 197, 197, 0.192);
}

.links{
  display: flex;
}

.lista {
  background-color: rgb(226, 241, 241);
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;
}

.artigo p {
  margin-top: 10px;
}

.artigo h3 {
  margin-top: 30px;
}

@media screen and (min-width:600px){
  .listContainer{
    display: flex;
    justify-content: space-evenly;
  }
}


